<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Data Cadastrada</h1>
    <% for (let data of locals.datas) { %>
        
        <span><%= data.diautil %></span>
        <span><%= data.fds %></span>
        <span><%= data.hora %></span>
        
    <% } %>
</body>
</html>