<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitezin</title>
</head>
<body>
    <h1>Data e Hora</h1>

    <form method="POST" action="/datas">
       
            <label>
                <strong>Adicione os Horários Disponíveis</strong>
                <br>
                <input type="checkbox" name="diautil">Dia Útil <br>
                <input type="text" name="hora"><br>
                <input type="checkbox" name="fds">Fim de Semana<br>
                <input type="text" name="hora">
            </label>
        </div>
        <button>Enviar respostas.</button>
    </form>
</body>
</html>