<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
     <label>
        <strong>Horários de Visita</strong>
        <br>
        <select name="horavisita" id="">
            <option selected disabled>Selecione Um Horário de Visita</option>
            <option value="7:30">1 </option>
            <option value="8:00">2 </option>
        </select>
        <br>
        
     </label>
    </div>
</body>
</html>

