<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/abrigo.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="../../../public/favicon.ico" type="image/x-icon">
    <title>Sitezin</title>
</head>
<body>
    <h1>Cadastro de Instituição</h1>

    <form method="POST" action="/cadabrigo">
        <div>
            <label>
                <strong>Nome de Instituição</strong>
                <br>
                <input name="nome" type="text">
            </label>
        </div>

        <div>
            <label>
                <strong>Endereço:</strong>
                <br>
                <input name="endereco" type="text">
            </label>
        </div>

        <div>
            <label>
                <strong>Contato:</strong><br>
                <em><ins>Telefone</ins>:</em><input name="cel" type="tel"><br>
                <em><ins>E-mail</ins>:</em><input name="mail" type="email">
            </label>
        </div>

        <button>Enviar respostas</button>
    </form>
</body>
</html>