<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="http://localhost:9444/cadabrigo"><button>Cadastre aqui sua Instituição</button></a>
    <a href="http://localhost:9444/cadvisita"><button>Agende sua visita aqui</button></a>
</body>
</html>