<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amor Compartilhado</title>
</head>
<body>
    <h1>O QUE É:</h1>


<p>
    O Amor Compartilhado é uma iniciativa que promove e facilita as visitas aos asilos, casas de repouso e abrigos.
    
    Ao usar o Amor Compartilhado, você agenda sua visita com simplicidade e rapidez.
</p>

<p>Com ele você pode: </p>
<ul>
     <li>Conhecer abrigos próximos a você</li>
     <li>Agendar visitas a asilos</li>
     <li>Aprender com experências de vida</li>
     <li>Conhecer pessoas novas, entre outros benefícios.</li>
</ul>
</body>
</html>