<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/user.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="../../../public/favicon.ico" type="image/x-icon">
    <title>Sitezin</title>
</head>
<body>
    <h1>Agendamento de Visita</h1>

    <form method="POST" action="/cadastrovisitas">
        <div>
            <label>
                <strong>Nome:</strong>
                <br>
                <input name="nome" type="text">
            </label>
        </div>

        <div>
            <label>
                <strong>Contato:</strong>
                <br>
                <em><ins>Telefone</ins>:</em><input name="cel" type="tel">
                <br>
                <em><ins>E-mail</ins>:</em><input name="email" type="email"><br>
                <em><ins>Data e Hora</ins>:</em><input name="horario" type="datetime-local">
            </label>
        </div>


        <div>
            
            <label>
                    <strong>Instituição</strong>
                    <br>
                    <input type="text" name="instituicao">


            </label>
    
    
        </div>
        <button>Enviar respostas.</button>
    </form>
</body>
</html>